body {
    margin: 0;
}

#main-page {
    background-image: url('images/bg/main_page.jpg');
    min-height: 550px;
    min-width: 550px;
    height: 90vh;
    padding: 3% 5% 3% 5%;
}

#workarea {
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 500px;
    border: 2px solid white;
    position: relative;
    perspective: 600px;
    opacity: 0.95;
}

.workarea-day {
    background-image: url('images/bg/workarea_day.png');
    background-position: center;
    background-size: 100% 100%;
}

.workarea-sunset {
    background-image: url('images/bg/workarea_sunset.png');
    background-position: center;
    background-size: 100% 100%;
}

.workarea-night {
    background-image: url('images/bg/workarea_night.png');
    background-position: center;
    background-size: 100% 100%;
}

.workarea-day-opacity, .workarea-sunset-opacity, .workarea-night-opacity {
    position: relative;
}

.workarea-day-opacity::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .6;
    content: "";
    z-index: -1;
    background-image: url('images/bg/workarea_day.png');
    background-position: center;
    background-size: 100% 100%;
}

.workarea-sunset-opacity::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .6;
    content: "";
    z-index: -1;
    background-image: url('images/bg/workarea_sunset.png');
    background-position: center;
    background-size: 100% 100%;
}

.workarea-night-opacity::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .6;
    content: "";
    z-index: -1;
    background-image: url('images/bg/workarea_night.png');
}

.bg-cover {
    background-size: cover;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-container {
    width: 60%;
    height: 25%;
    position: absolute;
    left: 20%;
}

#left-container {
    width: 20%;
    height: 100%;
    position: absolute;
}

#right-container {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0%;
}

#bottom-container {
    width: 60%;
    height: 40%;
    position: absolute;
    left: 20%;
    bottom: 0%;
}

.container-area {
    width: 100%;
    height: 100%;
    position: relative;
}

.top-player {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.ctop-player {
    left: 25%;
}

.left-player {
    width: 100%;
    height: 50%;
    position: relative;
}

.right-player {
    width: 100%;
    height: 50%;
    position: relative;
}

.cleft-player,
.cright-player {
    top: 15%;
}

.ltop-info {
    top: 5%;
    right: 20%;
}

.rtop-info {
    top: 5%;
    left: 20%;
}

.ctop-info {
    top: 5%;
    left: 20%;
}

.left-info {
    top: 30%;
    left: 5%;
}

.right-info {
    top: 30%;
    right: 5%;
}

.player-info-container-top {
    height: calc(90vw * 0.10);
    width: calc((90vw * 0.20) + 5px);
    min-height: 100px;
    min-width: 190px;
    max-height: calc(90vh * 0.18);
    position: absolute;
}

.player-info-container-top-img {
    height: 100%;
    width: calc(50% - 5px);
    min-height: 90px;
    min-width: 90px;
    max-width: calc(90vh * 0.18);
    position: relative;
}

.img-ltop {
    float: right;
}

.img-rtop,
.img-ctop {
    float: left;
}

.player-info-container-side {
    height: calc(90vh * 0.18);
    width: calc(90vw * 0.09);
    min-height: 87.5px;
    min-width: 43.75px;
    position: absolute;
}

.player-info-container-side-img {
    height: 70%;
    width: 100%;
    position: relative;
}

.control-pannel {
    width: 90%;
    height: 20%;
    left: 5%;
    bottom: 3%;
    position: absolute;
}

.left-control {
    width: 35%;
    height: 100%;
    float: left;
}

.middle-control {
    width: 30%;
    height: 100%;
    float: left;
}

.right-control {
    width: 35%;
    height: 100%;
    float: right;
}

.player-info-ltop-data {
    width: 50%;
    margin-right: 5px;
    float: right;
    position: relative;
}

.player-info-rtop-data {
    width: 50%;
    margin-left: 5px;
    float: left;
    position: relative;
}

.player-info-ctop-data {
    width: 50%;
    margin-left: 5px;
    float: left;
    position: relative;
}

.name {
    position: relative;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin-bottom: 5px;
    user-select: none;
}

.name-side {
    width: 100%;
    height: 15%;
}

.name-top {
    width: 100%;
    height: 15%;
}

.score {
    position: relative;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
    user-select: none;
}

.score-side {
    width: 100%;
    height: 15%;
}

.score-top {
    width: 100%;
    height: 15%;
}

.stats-own-container {
    width: 30%;
    min-height: 100%;
    bottom: 0%;
    position: absolute;
    color: blue;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 10px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column
}

.stats-own {
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

.bottom-button {
    background: none;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 25px;
    font-size: 95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: center;
    background-size: 100% 100%;
    user-select: none;
}

#restart-button {
    border: 0px solid red;
    color: rgb(252, 198, 22);
    background-image: url('images/buttons/red_button.png');
}

#restart-button:hover {
    color: rgb(252, 236, 186);
    background-image: url('images/buttons/red_button_hover.png');
}

#next-button {
    border: 0px solid blue;
    color: rgb(7, 226, 255);
    background-image: url('images/buttons/blue_button.png');
}

#next-button:hover {
    color: rgb(214, 250, 255);
    background-image: url('images/buttons/blue_button_hover.png');
}

.card {
    height: calc(90vh * 0.16);
    width: calc(90vw * 0.088);
    min-height: 87.5px;
    min-width: 50px;
    position: absolute;
}

.own-card {
    height: calc(90vh * 0.24);
    width: calc(90vw * 0.132);
    min-height: 120px;
}

.top-card {
    top: calc((90vw * 0.10) + 10%);
}

.left-card {
    right: -5%;
}

.right-card {
    left: -5%;
}

.bottom-card {
    bottom: calc(33%);
}

.answer-card {
    height: calc(90vh * 0.24);
    width: calc(90vw * 0.132);
    min-height: 131px;
    min-width: 75px;
    position: absolute;
    top: 35%;
    transition: transform 1s;

}

.answer-card-img {
    position: absolute;
    transform: rotateY(180deg);
}

.answer-card-img-back {
    position: absolute;
}

.is-flipped {
    transform: rotateY(180deg);
}

.is-flipped2 {
    visibility: hidden;
}

/* did't use */
.user-card-name-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: inherit;
    top: inherit;
}

/* did't use */
.user-card-name {
    position: absolute;
    top: calc(30px - 1.5vw);
    left: calc(-40px - 2vw);
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: blue;
    font-size: 130%;
    letter-spacing: -0.5em;
    font-family: 'Segoe Print', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* borders */

.ri-border {
    border: 2px solid #293fcc;
    color: #293fcc;
}

.ha-border {
    border: 2px solid #7252cc;
    color: #7252cc;
}

.mi-border {
    border: 2px solid #29cc67;
    color: #14b853;
}

.re-border {
    border: 2px solid #ec8828;
    color: #ec8828;
}

.si-border {
    border: 2px solid #29cc67;
    color: #14b853;
}

.sa-border {
    border: 2px solid #ffcc33;
    color: #bd910f;
}

/* selectors */
.ri-selector {
    border: 2px solid #293fcc;
    color: #293fcc;
}

.ha-selector {
    border: 2px solid #7252cc;
    color: #7252cc;
}

.mi-selector {
    border: 2px solid #29cc67;
    color: #14b853;
}

.re-selector {
    border: 2px solid #ec8828;
    color: #ec8828;
}

.si-selector {
    border: 2px solid #29cc67;
    color: #14b853;
}

.sa-selector {
    border: 2px solid #ffcc33;
    color: #bd910f;
}

.user1-selector {
    border: 2px solid red;
    color: red;
}

/* texts */

.ri-text {
    color: #293fcc;
}

.ha-text {
    color: #7252cc;
}

.mi-text {
    color: #14b853;
}

.re-text {
    color: #ec8828;
}

.si-text {
    color: #14b853;
}

.sa-text {
    color: #bd910f;
}

.user1-text {
    color: red;
}

/* text colors */
.color_has_card {
    color: blue;
}

.color_answer {
    color: purple;
}

.color_person {
    color: blue;
}

.color_weapon {
    color: #ed1b1b;
}

.color_location {
    color: #098028;
}

.player-speach {
    position: absolute;
    background-color: blanchedalmond;
    border: 2px solid rgb(73, 63, 47);
    border-radius: 10px;
    text-align: center;
    padding: 3px 10px;
    font-size: 90%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 58;
    user-select: none;
}

.text-nowrap {
    white-space: nowrap;
}

.text-200per {
    width: 200%;
    max-width: 200%;
}

.player-speach-top {
    top: 125%;
    left: -20%;
}

.player-speach-left {
    top: -57%;
    left: 120%;
}

.player-speach-right {
    top: -57%;
    right: 120%;
}

.player-speach-bottom {
    top: -150%;
    left: 50%;
    margin-left: -70px;
    color: black;
}

.speach-anchor-top {
    position: absolute;
    top: 90%;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 50px solid rgb(243, 231, 214);
    transform: skew(0deg);
    z-index: 19;
}

.speach-anchor-left {
    position: absolute;
    top: -40%;
    left: 112%;
    width: 0;
    height: 0;
    border-left: -20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid rgb(243, 231, 214);
    transform: skew(-35deg);
    z-index: 19;
}

.speach-anchor-right {
    position: absolute;
    top: -40%;
    right: 112%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: -20px solid transparent;
    border-top: 50px solid rgb(243, 231, 214);
    transform: skew(35deg);
    z-index: 19;
}

.speach-anchor-bottom {
    position: absolute;
    top: -110%;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 80px solid rgb(243, 231, 214);
    transform: skew(0deg);
    z-index: 9;
}

#layer {
    display: none;
    /* none block */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 60;
}

#layer::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#modal-rules {
    display: inline-block;
    width: 80%;
    height: 80%;
    margin-bottom: 10vh;
    min-width: 450px;
    min-height: 330px;
    padding: 10px;
    background: rgba(238, 238, 238, 0.952);
    border-radius: 5px;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    position: relative;
}

#modal-rules-top {
    width: 100%;
    height: 5%;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: auto;
    user-select: none;
}

#modal-rules-center {
    width: 90%;
    height: 75%;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 5%;
    user-select: none;
    overflow: auto
}

#modal-rules-bottom {
    width: 100%;
    height: 12%;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    text-align: center;
    margin-bottom: auto;
    user-select: none;
    position: absolute;
    bottom: 3%;
}

#modal-settings {
    display: inline-block;
    width: 80%;
    height: 80%;
    margin-bottom: 10vh;
    min-width: 450px;
    min-height: 330px;
    padding: 10px;
    background: rgba(238, 238, 238, 0.952);
    border-radius: 5px;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    position: relative;
}

#modal-settings-top {
    width: 100%;
    height: 5%;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: auto;
    user-select: none;
}

#modal-settings-center {
    width: 90%;
    height: 70%;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 5%;
    user-select: none;
    overflow: auto
}

#modal-settings-bottom {
    width: 100%;
    height: 12%;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    text-align: center;
    margin-bottom: auto;
    user-select: none;
    position: absolute;
    bottom: 3%;
}

#modal {
    display: inline-block;
    width: 50%;
    height: 40%;
    margin-bottom: 15vh;
    min-height: 165px;
    min-width: 225px;
    padding: 10px;
    background: rgba(238, 238, 238, 0.952);
    border-radius: 5px;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}

#modal-top {
    width: 100%;
    height: 15%;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

#modal-center {
    width: 100%;
    height: 65%;
    font-size: 130%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
    user-select: none;
}

#modal-bottom {
    width: 100%;
    height: 20%;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

#modal-center-person,
#modal-center-weapon,
#modal-center-location {
    position: relative;
    text-align: left;
    height: 30%;
}

#person-selector-desc-container,
#weapon-selector-desc-container,
#location-selector-desc-container {
    float: left;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#person-selector-desc {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#weapon-selector-desc {
    color: rgb(184, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#location-selector-desc {
    color: rgb(90, 73, 73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#person-selector-container,
#weapon-selector-container,
#location-selector-container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column
}

#person-selector {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    font-size: 90%;
    user-select: none;
    outline: 0px;
}

#weapon-selector {
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(184, 0, 0);
    border: 2px solid rgb(184, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    font-size: 90%;
    user-select: none;
    outline: 0px;
}

#location-selector {
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(90, 73, 73);
    border: 2px solid rgb(90, 73, 73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    font-size: 90%;
    user-select: none;
    outline: 0px;
}

.modal-center-control {
    width: 25%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modal-left-control {
    width: 35%;
    height: 100%;
    float: left;
    margin-left: 5%;
}

.modal-right-control {
    width: 35%;
    height: 100%;
    float: right;
    margin-right: 5%;
}

.modal-button {
    background: none;
    width: 100%;
    height: 80%;
    margin-top: 2%;
    border-radius: 25px;
    font-size: 95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: center;
    background-size: 100% 100%;
    user-select: none;
}

#answer-button {
    border: 0px;
    color: rgb(236, 243, 177);
    background-image: url('images/buttons/violet_button.png');
}

#answer-button:hover {
    color: rgb(248, 235, 195);
    background-image: url('images/buttons/violet_button_hover.png');
}

#assumption-button {
    border: 0px;
    color: rgb(7, 226, 255);
    background-image: url('images/buttons/blue_button.png');
}

#assumption-button:hover {
    color: rgb(214, 250, 255);
    background-image: url('images/buttons/blue_button_hover.png');
}

#rules-close-button {
    border: 0px;
    color: rgb(236, 243, 177);
    background-image: url('images/buttons/blue_button.png');
}

#rules-close-button:hover {
    color: rgb(248, 235, 195);
    background-image: url('images/buttons/blue_button_hover.png');
}

.button-rules {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 33px;
    font-size: 22px;
    font-weight: bold;
    background-color: #f18b1e;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    cursor: pointer;
    user-select: none;
}

.button-rules:hover {
    background-color: #ff9d35;
}

#modal-center-players,
#modal-center-name,
#modal-center-maxscore,
#modal-center-punishment {
    position: relative;
    text-align: left;
    height: 23%;
}

#players-selector-desc-container,
#name-selector-desc-container,
#maxscore-selector-desc-container,
#punishment-selector-desc-container {
    float: left;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

#players-selector-container,
#name-selector-container,
#maxscore-selector-container,
#punishment-selector-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#players-selector-desc {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#players-selector {
    margin-top: auto;
    margin-bottom: auto;
    height: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 7px;
    font-size: 90%;
    user-select: none;
    outline: 0px;
    color: blue;
    border: 2px solid blue;
}

#maxscore-selector-desc {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#maxscore-selector {
    margin-top: auto;
    margin-bottom: auto;
    height: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 7px;
    font-size: 90%;
    user-select: none;
    outline: 0px;
    color: blue;
    border: 2px solid blue;
}

#name-selector-desc {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#name-selector {
    margin-top: auto;
    margin-bottom: auto;
    height: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 7px;
    font-size: 90%;
    user-select: none;
    outline: 0px;
    color: blue;
    border: 2px solid blue;
}

#punishment-selector-desc {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

#punishment-selector {
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 7px;
    font-size: 90%;
    user-select: none;
    outline: 0px;
    color: blue;
    border: 2px solid blue;
    resize: none;
}

@media (max-width: 700px) {
    #players-selector-desc, #maxscore-selector-desc, #name-selector-desc, #punishment-selector-desc {
        font-size: 12px;
    }
    #person-selector-desc, #weapon-selector-desc, #location-selector-desc {
        font-size: 11px;
    }
}

#settings-apply-button {
    border: 0px;
    color: rgb(236, 243, 177);
    background-image: url('images/buttons/blue_button.png');
}

#settings-apply-button:hover {
    color: rgb(248, 235, 195);
    background-image: url('images/buttons/blue_button_hover.png');
}

.informer-maxscore {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 75px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f18b1e;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 1px;
    user-select: none;
    line-height: 1;
}

